<main class="main">
  <div class="inner">
      <div class="greeting">  </div>

        <div class="card__wrapper">
        <%= render partial: 'art', collection: @arts %>
        </div>

  </div>
</main>
